{% extends 'base.html.twig' %}

{% block title %}TelegramLogWebhook index{% endblock %}

{% block body %}
    <h1>TelegramLogWebhook index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telegram_log_webhook in telegram_log_webhooks %}
            <tr>
                <td>{{ telegram_log_webhook.id }}</td>
                <td>{{ telegram_log_webhook.data ? telegram_log_webhook.data|json_encode : '' }}</td>
                <td>{{ telegram_log_webhook.createdAt ? telegram_log_webhook.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_telegram_log_webhook_backend_show', {'id': telegram_log_webhook.id}) }}">show</a>
                    <a href="{{ path('app_telegram_log_webhook_backend_edit', {'id': telegram_log_webhook.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_telegram_log_webhook_backend_new') }}">Create new</a>
{% endblock %}
